/* Estilos para el index */
.row{
    margin-bottom:20px;
}
.jumbotron{
    height:100%;
    padding-bottom:0;
}
.display-news{
    font-size:30px;
}
.btn-news{
    width:auto;
    height:100%;
    margin-right:10px;
}
.col-btn{
        height:115px;
}
#logo-descripcion{
    margin-top:20px;
    padding: 5px;
}
#logo{
    width:100%;
    margin-top:5%;
}
/* hasta aquí el index */

/* estilos publications */
.pre-publications{
padding: 0;
}
li .card{
    width: 100%;
}
#lista-de-publicaciones li{
    margin-top:20px;
}


/* hasta aquí publications */

/* estilos para RyT */
#lista-de-lineas{
    text-align:center;
    padding:10px;
}
/* hasta aquí RyT */

/* estilos para people */
.carousel-item{
    max-height:700px;
    min-height:600px;
    overflow:hidden;
}
.carousel-item img{
    width:100% !important;
}

.name_profile, .p-c-d, .d-info{
    width:100%;
    border-bottom:1px solid grey;
    height:auto;
}
.img-profile{
    width:100%;
    margin-top: 10%;
}
.d-info #titles{
    padding-left: 0;
}
/* hasta aqui people */