
  footer{
    /* border-top:3px solid #20AE29;
    color:black; */
    /* height: 200px; */
    background-color: #20AE29;
    color:white;
  }
  footer a{
    font-style: none;
    color:white;
    /* color:black; */
  }
  footer a:hover{
    color: #554DA2;
  }

    .navbar{
        background-color:#20AE29;
        
    }
    .navbar a{
        color:white;
    }
    .navbar a:hover{
        color:#554DA2;
    }